
@{
    ViewBag.Title = "Index";
}


<div class="row" style="width:99.9%;">
    <div class="col-xs-10" style="padding-right:8%">
        <div class="row">
            <div style="height:300px;padding-left:2%">
                <h1 style="text-align:center">No Privacy From Prying Eyes</h1>
            </div>
            <div class="chat-container" style="height:300px;padding-left:2%">
                <!-- chat box goes here -->
            </div>
        </div>
        
    </div>
    <div class="col-xs-2" style="padding-right:20px">
        <h3>Contacts</h3>
        <div class="users-list" style="border:1px solid black;border-radius:10px;padding:.5px">

            <!-- users list goes here -->
        </div>
    </div>
</div>



<script>
    $(function () {
        var hub = $.connection.chatHub;

        hub.client.broadcastUsersToChat = function (listUsers) {
            $('.users-list').html('');
            for (var i = 0; i < listUsers.length; i++) {
                let online = listUsers[i].IsOnline ? '<i class="fa fa-circle"></i>' : "";
                $('.users-list').append('<div id="UserBox-' + listUsers[i].UserId + '" class="user-box" style="border-radius:10px;" onclick="openChatBox(' + listUsers[i].UserId + ')">\
                <h5>'+ listUsers[i].FirstName + '</h5>\
                <span class="is-online">'+ online + '</span>\
            </div>');
            }
        };

        hub.client.broadcastOnlineUser = function (userId) {
            $('.users-list').find('#UserBox-' + userId + '').find('span[class="is-online"]').html('<i class="fa fa-circle"></i>');
        }

        hub.client.broadcastOfflineUser = function (userId) {
            $('.users-list').find('#UserBox-' + userId + '').find('span[class="is-online"]').html('');
        }

        hub.connection.start().done(function () {
            hub.server.getUsersToChat();
        });

        hub.client.broadcastRecieveMessage = function (userId, message) {
            @*var c = @int.Parse(User.Identity.Name);
            console.log(c);*@
            if ($('#DVChatBox-' + userId).length === 0) {
                openChatBox(userId);
            } else {
                $('#DVChatBox-' + userId).find('.messages-list').append('<div class="dvmsg dvmsg-to"><span class="msg">' + message + '</span></div>');
            }
            $('#DVChatBox-' + userId).find('.messages-list').scrollTop(999999999999);
        }

    });


    function openChatBox(toUserId) {
        var loginUser = @int.Parse(User.Identity.Name);
        
        $.ajax({
            url: '/Home/GetChatbox',
            type: 'POST',
            datatype: 'JSON',
            contentType: 'application/json;charset=utf-8;',
            data: JSON.stringify({ toUserId: toUserId, loginUser: loginUser}),
            async: true,
            success: function (res) {
                if ($('#DVChatBox-' + toUserId).length === 0) {
                    $('.chat-container').append(res);
                } else {
                    $('.chat-container').find('#DVChatBox-' + toUserId).replaceWith(res);
                }
                $('#DVChatBox-' + toUserId).find('.messages-list').scrollTop(999999999999);
            }
        });
    }
</script>