@model ChatAppWithDBExample.ChatApp.Model.LoginData
@{
    ViewBag.Title = "Login";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Custom-css.css" rel="stylesheet" type="text/css" />

    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>


</head>
<body>
    @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @id = "frmLogin" }))
    {
        @Html.AntiForgeryToken()

        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-3"></div>
                <div class="col-xs-6">
                    <br />
                    <br />
                    <h2 style="text-align:center">Login Form</h2>
                    <form action="/action_page.php" style="max-width:500px;margin:auto">

                        @*<div class="input-container">
                                <i class="fa fa-user icon"></i>
                                <input class="input-field" type="text" placeholder="FullName" name="FullName">

                            </div>*@

                        @*<div class="input-container">
                            <i class="fa fa-user icon"></i>
                            <input class="input-field" type="text" placeholder="Username" name="Username">

                        </div>*@

                        <div class="input-container">
                                <i class="fa fa-envelope icon"></i>
                                <input class="input-field" type="text" placeholder="Email" name="Email">

                            </div>

                        @*<div class="input-container">
                            <i class="fa fa-key icon"></i>
                            <input class="input-field" type="password" placeholder="Password" name="Password">

                        </div>*@

                        @*<div class="form-group">
                            <label>
                                @Html.CheckBoxFor(m => m.RememberMe)
                                <span>Remember Me</span>
                            </label>
                        </div>*@
                        <br />
                        <p>If you don't have an account, please <a href="@Url.Action("CreateAccount", "Home")" class="elements"><span>Create Account</span></a> first</p>
                        <label class="text-danger">@ViewBag.LoginError</label>
                        <button type="submit" class="btn">Submit</button>
                    </form>
                </div>
                <div class="col-xs-3"></div>
            </div>
        </div>
    }
</body>
</html>

